@import 'highlight.js/styles/atom-one-dark.css';


.prose{
  max-width: 640px!important;
  @screen md{
    max-width: 768px!important;
  }
}

.prose,.title,.short-desc{
  @apply font-sans;
  & * {
    @apply font-sans;
  }
}

pre {
  @apply font-mono bg-gray-800 text-white;
  color: rgba(255, 255, 255, 0.15);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  code {
    color: white;
    padding: 0!important;
    background: none;
    font-size: 1rem;
    line-height: 1;
    & *{
      font-family: 'JetBrainsMono', monospace!important;
    }
  }
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
